/* estilos generales */
html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
/* Estilos de la barra de navegacion principal */
header{
    display: flex;
    background-color: white;
    padding-left: 14%;
    padding-right: 14%;
    height: 55px;
    justify-content: space-between;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.brand_imageContainer{
    margin-top: 2px;
    margin-bottom: 0px;
    width: 165px;
    height: 55px;
}
.brand_image{
    padding-top: 4px;
    width: 165px;
    height: 66;
}
.nav_list{
    display: flex;
    margin-top: 15px;
}
nav li{
    padding-right: 25px;
    padding-left: 25px;
    list-style: none;
}
nav li a{
    color: blue;
    font-weight: 500;
    text-decoration: none;
}
/* Estilos del Hero */
.hero{
    padding-left: 7%;
    padding-right: 7%;
    height: 500px;
    background-image: url('../images/Artboard 3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-color:white;
    border-style: solid;
    border-width: 1px;
}
.title_hero{
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -.1px;
    color: white;
    margin-left: 14.3%;
    margin-right: 7%;
    margin-top: 14%;
    margin-bottom: 0.2%;
}
.subtitle_hero{
    font-size: 14px;
    font-weight: 300;
    margin-top: 0%;
    margin-left: 14.3%;
    margin-bottom: 14%;
    margin-right: 7%;
    color: white;
}
/* Estilos de la seccion "Descripcion" */
.descripcion{
    padding-left: 7%;
    padding-right: 7%;
    height: 500px;
    background-color: white;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    display: flex;
    }
.image_descriptionContainer{
    width: 45%;
    padding: 3%;
    box-sizing: border-box;
}
.image_description{
    width: 110%;
}
.article_description{
    /* border-color: green; */
    /* border-style: solid; */
    /* border-width: 1px; */
    padding-top: 5%;
    padding-bottom: 5%;
}
.title_description{
    padding-top: 5%;
    padding-bottom: 5%;
}
h2{
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
}
h4{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
/*Estilos del Footer */
footer{
    background-color: #353535;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
}
.suscription_bar{
    border-bottom: 1px white solid;
    padding-left: 13%;
    padding-right: 13%;
    height: 45px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#form_suscription{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 43px;
}
#title_suscription{
    font-weight: 500;
}
#email_suscription{
    height: 30px;
    width: 350px;
    padding-left: 20px;
}
#button_suscription{
    height: 36px;
    width: 150px;
    font-family: Poppins;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
#full_nav{
    display: flex;
    padding-right: 200px;
    padding-left: 200px;
    list-style: none;
}